body {
    text-align: center;
    background-color: #C9A24B;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;
    font-size: 3rem;
    margin-top: 40px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px white;
}

h2 {
    color: #111;
    font-size: 2rem;
    margin-top: 30px;
    padding-bottom: 5px;
}


h3 {
    color: darkslategray;
    font-size: 2rem;
    margin-bottom: 0ch;
}

p {
    color: brown;
    font-size: 1.5rem;
}

img {
    width: 220px;
    margin-top: 20px;
    filter: drop-shadow(0 0 10px #000);
    transition: 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1, 1.1);
}

button {
    margin-top: 40px;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: white;
    color: black;
    border-color: black;
    transform: scale(1.05);
}

div>h2 {
    font-size: 5ch;
    color: lavenderblush;
}

div>h3 {
    color: brown;
}

div img {
    width: 360px;
    height: 235px;
}

.menu {
    display: block;
    margin-top: 2vw;
    margin-left: 32vw;
    margin-right: 32vw;
    border-style: solid;
    border-width: 0.5cm;
    border-radius: 15px;
    padding-bottom: 45px;
    border-color: brown;
    background: rgb(105, 105, 105);
    transition: 0.3s ease-in-out;
}

.menu:hover {
    border-color: rgb(56, 8, 18);
    transform: scale(1.1, 1.1);
}

.legendsPlayers {
    border-width: 0.5cm;
    border-color: rgb(114, 17, 37);
    border-style: solid;
    border-radius: 15px;
    transition: 0.3s ease-in;
}

.legendsPlayers:hover {
    border-color: rgb(56, 8, 18);
    transform: scale(1.1, 1.1);
    cursor: zoom-in;

}

.goalKeepers {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    grid-gap: 20px;
}

.goalKeepers div {
    align-content: center;
}

.centreBacks {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    grid-gap: 20px;
}

.rightWingers {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    grid-gap: 20px;
}

.rightWingers div {
    align-content: center;
}

.leftWingers {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    grid-gap: 20px;
}

.leftWingers div {
    align-content: center;
}

.defensiveMidfielders {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    grid-gap: 20px;
}

.attackingMidfielder {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    grid-gap: 20px;
}

.attackingMidfielder div {
    align-content: center;
}

.strikers {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    grid-gap: 20px;
}

.strikers div {
    align-content: center;
}

.main-nav>#button-nav {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.22cm;
    margin: 0;
    z-index: 1000;
}

#Storari {
    height: 500px;
}

#ronaldo {
    font-size: 1.25cm;
    color: cornflowerblue;
}

#zidan {
    width: 10cm;
    height: 10cm;
}

#baggio {
    width: 10cm;
    height: 10cm;
}

#Tardelli {
    height: 10cm;
}

#delPiero {
    height: 10cm;
}

#nadved {
    width: 10cm;
    height: 10cm;
}

#orsi {
    width: 11cm;
    height: 17cm;
}

#diLivio {
    height: 10cm;
}

#furino {
    height: 10cm;
}

#rossi {
    height: 10cm;
}